main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: lightgray;
}

nav {
    background-color: lightgreen;
}

footer {
    background-color: lightgray;
}

.name {
    text-align: right;
}

.title {
    text-align: center;
}

.githublink {
    background-color: lightgray;
    text-align: left;
}

.hiddensonglist {
    display: none;
}

.hiddenuserlist {
    display: none;
}
