<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <title>Jukebot</title>
    <nav>
        <h1 class="title">Jukebot</h1>
        <div class="name">Robert Berquist</div>
    </nav>
    <body>
        
        {% block navbar %}
        <nav>
            <a href="/">Jukebot</a>
            <a href="/songlist">Song List</a>
        </nav>
        {% endblock %}

        {% block content %}
        default content
        {% endblock %}
    </body>
    <footer>
        <a href="https://github.com/Robertidybobito/jukebot">GitHub Link</a>
    </footer>
</html>
