{% extends "base.html" %}
{% block content %}
<h1>Music Player</h1>
<main>
    <div id="upnext"></div>
    <div id="player">
        <div id="youtubeplayer"></div>
        <div id="currentsong"></div>
    </div>
    <div id="justplayed"></div>
</main>
    <div class="hiddenmasterlist" id="hiddenmasterlist">
        {% for song in masterlist: %}
            <div id="song">
                <div id="id">{{ song['id'] }}</div>
                <div id="name">{{ song['name'] }}</div>
                <div id="url">{{ song['url'] }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
