{% extends "base.html" %}
{% block content %}
<main>
<table class="masterlist" id="masterlist">
<tr>
    <th>{% if currentpage == "asong_id" %}<a href="/songlist/dsong_id">
        {% else %}<a href="/songlist/asong_id">{% endif %}
        Song ID</a></th>
    <th>{% if currentpage == "aname" %}<a href="/songlist/dname">
        {% else %}<a href="/songlist/aname">{% endif %}
        Song Name</a></th>
    <th>{% if currentpage == "aurl" %}<a href="/songlist/durl">
        {% else %}<a href="/songlist/aurl">{% endif %}
        Link</a></th>
    <th>{% if currentpage == "auser_name" %}<a href="/songlist/duser_name">
        {% else %}<a href="/songlist/auser_name">{% endif %}
        User</a></th>
    <th>{% if currentpage == "aflag_error" %}<a href="/songlist/dflag_error">
        {% else %}<a href="/songlist/aflag_error">{% endif %}
        Error?</a></th>
</tr>
{% for song in masterlist: %}
    <tr><td>{{ song['song_id'] }}</td>
        <td>{{ song['name'] }}</td>
        <td><a href="{{ song['url'] }}" target="_blank">YouTube</a></td>
        <td>{{ song['user_name'] }}</td>
        <td>{% if song['flag_error'] == 1 %}Yes{% endif %}</td>
        </tr>
{% endfor %}
</table>
</main>
{% endblock %}
