{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="/static/songlist.js"></script>
<main>
    <div class="masterlist" id="masterlist"></div>
</main>
<div class="hiddensonglist" id="hiddensonglist">
{% for song in songlist: %}
    <div id="song">
        <div id="song_id">{{ song['song_id'] }}</div>
        <div id="name">{{ song['name'] }}</div>
        <div id="url">{{ song['url'] }}</div>
        <div id="user">{{ song['user_name'] }}</div>
        <div id="error">{{ song['flag_error'] }}</div>
    </div>
{% endfor %}
</div>
<div class="hiddenuserlist" id="hiddenuserlist">
{% for user in userlist: %}
    <div id="user">
        <div id="user_id">{{ user['user_id'] }}</div>
        <div id="user_name">{{ user['user_name'] }}</div>
    </div>
{% endfor %}
</div>
{% endblock %}
