{% extends "base.html" %}

{% block content %}
<main>
    {% for song in masterlist: %}
        <div class="masterlist">
            id={{ song['id'] }}
            name={{ song['name'] }}
            url={{ song['url'] }}
        </div>
    {% endfor %}
</main>
<div class="hiddensonglist" id="hiddensonglist">
{% for song in songlist: %}
    <div id="song">
        <div id="song_id">{{ song['song_id'] }}</div>
        <div id="name">{{ song['name'] }}</div>
        <div id="url">{{ song['url'] }}</div>
        <div id="user">{{ song['user_name'] }}</div>
        <div id="error">{{ song['flag_error'] }}</div>
    </div>
{% endfor %}
</div>
{% endblock %}
